
<div class="wrap">
  <div class="container">
    <section class="section-index">
        <h1 class="section-index__caption caption">
          The best
          <br>
          medical service
        </h1>
        <div class="section-index__subtitle subtitle">
          <p class="section-index__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <button mat-flat-button color="primary" class="section-index__btn btn">Read more</button>
    </section>
  </div>
</div>
