<section class="homepage">
  <div class="container">
      <div class="row">
        <div class="card">
          <div class="opening-hours card-content">
            <h2 class="card-content__title">Opening Hours</h2>
            <ul class="card-content__list">
              <li class="list-item">Monday - Thursday <span>8.00 - 19.00</span></li>
              <li class="list-item">Friday <span>8.00 - 18.30</span></li>
              <li class="list-item">Saturday <span>9.30 - 17.00</span></li>
              <li class="list-item">Sunday <span>9.30 - 15.00</span></li>
            </ul>
          </div>
        </div>

        <div class="Emergency card-content" >
          <h2 class="card-content__title">Emergency</h2>
          <app-call-btn></app-call-btn>
          <p class="card-content__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deleniti dignissimos fugit ipsum nesciunt non pariatur quaerat reiciendis temporibus, unde veniam!
          </p>
        </div>

        <div class="appointment-box card-content">
          <h2 class="card-content__title">Make an Appointment</h2>

          <form class="d-flex flex-wrap justify-content-between">
            <select class="select-department">
              <option value="value1">Select Department</option>
              <option value="value2">Select Department 1</option>
              <option value="value3">Select Department 2</option>
            </select>

            <select class="select-doctor">
              <option>Select Doctor</option>
              <option>Select Doctor 1</option>
              <option>Select Doctor 2</option>
            </select>

            <input type="text" placeholder="Name">

            <input type="number" placeholder="Phone No">

            <input class="call-btn" type="submit" value="Boom Appoitnment">
          </form>
        </div>
      </div>
  </div>
</section>
