<section class="homepage">
  <div class="container">
      <div class="row">
        <div class="card">
          <div class="opening-hours card-content">
            <h2 class="card-content__title">Opening Hours</h2>
            <ul class="card-content__list">
              <li class="list-item">Monday - Thursday <span>8.00 - 19.00</span></li>
              <li class="list-item">Friday <span>8.00 - 18.30</span></li>
              <li class="list-item">Saturday <span>9.30 - 17.00</span></li>
              <li class="list-item">Sunday <span>9.30 - 15.00</span></li>
            </ul>
          </div>
        </div>

        <div class="Emergency card-content" >
          <h2 class="card-content__title">Emergency</h2>
          <app-btn>
            <div>
              <a class="btn btn-link" href="#"><img src="../../../assets/img/emergency-call.png">
                <span>+375 29 54 77 137</span>
              </a>
            </div>
          </app-btn>
          <p class="card-content__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Deleniti dignissimos fugit ipsum nesciunt non pariatur quaerat reiciendis temporibus, unde veniam!
          </p>
        </div>

        <div class="appointment-box card-content">
          <h2 class="card-content__title">Make an Appointment</h2>
            <app-form-appoitnment></app-form-appoitnment>
        </div>
      </div>
  </div>

</section>
