<form class="my-form">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com"  required>
  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Departments</mat-label>
    <mat-select
      (selectionChange)="onChange($event)"
      name="nameDepartment">
      <mat-option>None</mat-option>
      <mat-option
        *ngFor="let nameDepartment of nameDepartments" [value]="nameDepartment.value"
      >
        {{nameDepartment.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Doctors</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option
        *ngFor="let doctor of doctors" [value]="doctor">
        {{ doctor.name + ' ' + doctor.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button class="btn" type="submit" color="primary">Boom Appoitnment</button>
</form>
