.my-profile {
  width: 100%;
  background: url("../../assets/img/bg-myProfile.jpeg") no-repeat;
  background-size: cover;

  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: #404040;
    padding: 50px 0;
  }
}

.box-btn {
  padding: 30px 0;
}

.example-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.input-box {
  max-width: 50%;
}

.btn-input {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: rgba(50,200,250,1);
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;

  &::after {
    background-color: yellow;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left :0;
    top :0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(0, 0);
  }

  &:hover {
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1.05);
    will-change: transform;
  }
}
