<div class="departments-card">
  <div class="departments-card__cont">
    <header class="departments-card__header">
      <img class="departments-card__img" src="{{ department.logoLink }}" alt="cardiogram">

      <h3 class="departments-card__title">{{ department.name }}</h3>
    </header>

    <div class="entry-content">
      <p>{{ department.description }}</p>
    </div>

    <footer class="entry-footer">
      <a class="departments-card__link"href="#">read more</a>
    </footer>
  </div>
</div>
