<div class="container">
  <app-backBtn>Back to Home</app-backBtn>
  <div class="wrap">
    <div class="login100-pic js-tilt" data-tilt>
      <img src="../../../assets/img/login.png" alt="IMG">
    </div>
    <form class="form" #myForm novalidate>
      <h3 class="form-title">Please Register</h3>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <input matInput  placeholder="Confirm password" [type]="hide ?
              'password' : 'text'" [formControl]="confirmFormControl" required>
        <mat-error *ngIf="confirmFormControl.hasError('required')">
          Confirm your password
        </mat-error>
      </mat-form-field>
      <app-btn type="submit">Registration</app-btn>
    </form>
  </div>
</div>
