<div class="departments-card">
  <div class="departments-card__cont">
    <header class="departments-card__header">
      <img class="departments-card__img" src="../../assets/img/cardiogram.png" alt="cardiogram">

      <h3 class="departments-card__title">Cardioology</h3>
    </header>

    <div class="entry-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
    </div>

    <footer class="entry-footer">
      <a class="departments-card__link"href="#">read more</a>
    </footer>
  </div>
</div>
