<nav class="navigation">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" routerLink="/home">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/aboutUs">About us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/service">Service</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/contact">Contact</a>
  </li>
    <li class="nav__item">
      <a class="nav__link" routerLink="/profile">My Profile</a>
    </li>
    <li class="nav__item">
      <button class="nav__link" mat-button (click)="openDialog()">Login In</button>
    </li>
  </ul>
</nav>

